<footer class="page-footer dark">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-sm-3">
        <h5>About us</h5>
        <ul>
          <li><a href="about.html#mentor">Đội ngũ điều hành</a></li>
          <li><a href="#">Liên lạc</a></li>
          <li><a href="#">Các thông tin khác</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Hỗ trợ</h5>
        <ul>
          <li><a href="#">Câu hỏi thường gặp</a></li>
          <li><a href="#">Trợ giúp</a></li>
          <li><a href="#">Nhóm</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2020 TOANMOHINHHANOI</p>
  </div>
</footer>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/assets/js/smoothproducts.min.js"></script>
<script src="/assets/js/theme.js"></script>
<script src="/assets/js/Dot-nav-scroll-with-label.js"></script>
<script src="/assets/js/timeline.js"></script>
