<footer class="page-footer dark">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-sm-3">
        <h5>About us</h5>
        <ul>
          <li><a href="{{site.basesurl}}/about#mentor">Đội ngũ điều hành</a></li>
          <li><a href="{{site.basesurl}}/contact">Liên lạc</a></li>
          <li><a href="#">Các thông tin khác</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Hỗ trợ</h5>
        <ul>
          <li><a href="{{site.basesurl}}/faq">Câu hỏi thường gặp</a></li>
          <li><a href="{{site.basesurl}}/contact">Trợ giúp</a></li>
          <li><a href="#">Nhóm</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2020 TOANMOHINHHANOI</p>
  </div>
</footer>
