<nav
  class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
>
  <div class="container">
    <a
      class="navbar-brand logo"
      href="{{site.basesurl}}"
      style="background-image: url('../assets/img/logo/TMH.png');"
      ><img src="../assets/img/logo/TMH.png" style="width: 55px;" /></a
    ><button
      data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navcol-1"
    >
      <span class="sr-only">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="{{site.basesurl}}">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="{{site.basesurl}}/mmc2020">Toán mô hình 2020</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="{{site.basesurl}}/about">About</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="{{site.basesurl}}/contact">Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
