<!DOCTYPE html>
<html>
  {{partial "head.html" . }}
  <body>
    {{partial "nav.html" . }} 

    {{partial "main.html"  . }}

    {{partial "footer.html" . }}
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Dot-nav-scroll-with-label.js"></script>
    <script src="assets/js/timeline.js"></script>
  </body>
</html>
